/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
}

textarea:focus, select:focus {
    border-color: #4FD1C5; /* Teal color for focus */
    outline: none;
}

#result {
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
